body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 480px;
  font-family: "spartan";
  color: #2e3244;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-weight: 200;
  font-size: 4.5rem;
}
h2 {
  font-weight: 500;
  font-size: 1.8rem;
  color: #f1895c;
}
h3 {
  font-weight: 500;
  font-size: 0.9rem;
  color: #516079;
}
h4 {
  font-weight: 400;
  font-size: 0.8rem;
}
p {
  font-weight: 300;
  font-size: 0.8rem;
}

/* header */

header {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
  margin-bottom: 16px;
  justify-content: flex-start;
  width: auto;
  height: 4rem;
  background-color: #fff;
  font-size: 0.8rem;
}

.wr__logo {
  width: 2rem;
  height: 2rem;
}

.wr__logo--BASE {
  opacity: 1;
  background-color: #fff;
  transition: 300ms ease-in-out;
}
.wr__logo--HOVER {
  position: relative;
  top: -2.26rem;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
  transition: 300ms ease-in-out;
}
.wr__logo:hover .wr__logo--BASE {
  opacity: 0;
}
.wr__logo:hover .wr__logo--HOVER {
  opacity: 1;
  z-index: 1;
}

header nav {
  /*display: flex;
  flex-wrap: wrap;*/
  width: 100%;
  text-transform: uppercase;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: inherit;
}

header nav ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: auto;
}
header nav ul li:hover a {
  background-color: #516079;
  color: #fff;
}
header nav ul li.page_logo p {
  align-self: center;
  padding-left: 1rem;
}
header nav ul li.page_logo:hover a {
  background-color: #fff;
}
header nav ul li.linkOn a {
  color: #f1895c;
}

header nav ul a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 0 1rem 0 1rem;
  outline: none;
  text-decoration: none;
  color: #2e3244;
}

/* caroussel : inspiration w3schools.com */

* {
  box-sizing: border-box;
}

/* conteneur du caroussel */
.slideshow-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
}

/* cacher les images par défaut */
.mySlides {
  display: none;
}

/* boutons précédent & suivant */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* position du bouton next */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* ajout d'un BG noir presqu'opaque au survol des boutons */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* légende */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* numéro actif sur total */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* les cercles indicateurs */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* transtition en fondu */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* mise en page cv */

/* cv__menu */
#cv__menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.2rem;
  margin-bottom: 2rem;
  justify-content: center;
  width: auto;
  height: 2rem;
  background-color: #fff;
  font-size: 0.8rem;
}
#cv__menu nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  text-transform: uppercase;
}
#cv__menu nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: inherit;
  padding: inherit;
}
#cv__menu nav ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: auto;
}
#cv__menu nav ul li:hover a {
  background-color: rgba(46, 50, 68, 0.3);
  color: #fff;
}
#cv__menu nav ul li.page_logo p {
  align-self: center;
  padding-left: 1rem;
}
#cv__menu nav ul li.page_logo:hover a {
  background-color: #fff;
}
#cv__menu nav ul a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 0 1rem 0 1rem;
  outline: none;
  text-decoration: none;
  color: #2e3244;
}

/* div cv__content */
#cv__content {
  display: flex;
  flex-wrap: wrap;
}

.date {
  color: #717171;
}
#cv__competences {
  display: flex;
  flex-wrap: wrap;
  width: 86%;
  margin: 0 0.5rem 1rem 0.5rem;
}
#cv__competences h1 {
  writing-mode: vertical-lr;
  text-orientation: sideways;
}

#competences {
  display: flex;
  flex-wrap: wrap;
  width: 18rem;
  height: fit-content;
  margin: -1.54rem 0 0 1rem;
}

#jobs {
  margin: -1.54rem 4rem 0 1rem;
}

.exp {
  width: 14rem;
  height: fit-content;
  margin-bottom: 2rem;
}

#schools {
  margin: -1.54rem 0 0 0;
}

#hoobies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#hobbies__cards {
  display: flex;
  flex-wrap: wrap;
}
.hobby {
  display: flex;
  flex-wrap: wrap;
  width: 18%;
  margin: 0 0.5rem 0 0.5rem;
}

/* article cv__apt */
#cv__apt {
  display: flex;
  flex-wrap: wrap;
  width: 11%;
  background-color: #516079;
  padding: 0rem 0.8rem 0.1rem 0.8rem;
}
#cv__apt h3 {
  font-size: 1.1rem;
  color: #fff;
}
#cv__apt h4 {
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: -0.5rem;
}
#cv__apt p {
  font-size: 0.7rem;
  color: #fff;
}

/* contact */

/* cartes de contact */
.portfolios__cards,
.socials__cards {
  display: flex;
  flex-wrap: wrap;
}
.contact__card {
  margin: 0.5rem;
  width: 9rem;
  height: 9rem;
  border-radius: 1.5rem;
  background-color: #fff;
  box-shadow: black;
}
.contact__card h3 {
  margin: auto;
}
.contact__card--logo {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  height: 5rem;
}
.card__logo--BASE,
.card__logo--HOVER {
  display: flex;
  flex-wrap: wrap;
  width: 4rem;
}

/* footer */
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 6rem;
  background-color: #2e3244;
  font-size: 0.8rem;
}

.socials_logo {
  height: 1.5rem;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

footer nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: inherit;
  padding: inherit;
}

footer nav ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: auto;
  padding: 0 0.3rem 0 0.3rem;
}

footer p {
  width: fit-content;
  outline: none;
  text-decoration: none;
  color: #c5c6c6;
}
